body{
	margin: 0;
	padding: 0;
}
.wrapper{  
border: 1px solid #000;
height: 700px auto;
width: 90%;
margin: 0 auto;
}
.wrapper_chitiet{
	height: auto;
	width: 90%;
	margin:0 auto;
}
.hinhanh_sp{
	float: left;
	width: 40%;
}
.chitiet_sp{
	float: left;
	width: 45%;
	margin:0 10px ;
}
input.themgiohang{
	border: none;
	background: red;
	color: white;
	padding: 12px;
	font-size: 15px;
	cursor: pointer;
}
.header{  
	background-image: url("../img/banner.png");
	background-repeat: no repeat;
	background-size: auto;
	border: 1px solid #0000FF;
	height: 100px;
	width: 84%;
}
.menu{  
border: 1px solid #FFFF00;
height: 50px;
width: 100%;
background: #32cd32;
}
ul.list_menu {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: 60%;
    line-height: 30px;
}
ul.list_menu li {
    float: left;
    margin: 7px;
    padding: 5px;
    margin: 0 auto;
}
ul.list_menu li:hover {
    background: brown;
}
ul.list_menu li a {
    text-decoration: none;
    text-align: center;
    color: yellow;
}	
#main{  
border: 1px solid #aqua;
height: auto;
width: 100%;
}
.sidebar{
border: 1px solid #cd853f	;
height: 390px;
width: 20%;
margin-top: 5px; 
margin-left: 5px;
float: left;
}
ul.list_sidebar {
    padding: 0;
    list-style: none;
    width: 100%;
    line-height: 30px;
}
ul.list_sidebar li {
    margin: 7px;
    padding: 5px;
    margin: 0 auto;
}
ul.list_sidebar li:hover {
    background: skyblue;
}
ul.list_sidebar li a {
    text-decoration: none;
    text-align: left;
    color: black;
    display: block;
}	
.maincontent{
height: auto;
width: 78%;
margin-top: 5px;
margin-left: 5px;
float: right;
}
ul.product_list{
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
}
ul.product_list li{
	width: 19%;
	border: 1px solid #ddd; 
	margin: 5px;
	float: left;
	height: auto;

}
ul.product_list li a{
	text-decoration: none;
}
ul.product_list li img{
	height: 150px;
}
li{
	display: list-item;
	text-align: -webkit-match-parent;
}
p.title_product{
	text-align: center;
	font-size: 15px;
	color: black;
	font-weight: bold;
}
p.price_product{
	text-align: center;
	color: red;
	font-size: 16px;
	font-weight: bold;
}

.clear{
	clear: both;
}
.footer{  
border: 1px solid #ffb6c1;
height: 150px;
width: 100%;
background: black;
}
p.footer_copy{
	text-align: center;
	color: white;
}